


#banner{
    width:100%;
}
.principal{
    background: aqua;
    padding: 20px;
}
p{ text-align: center;   }
body{background:#cccccc; }

em strong{
    color:blue;
}
#mission{font-size: 20px;
}
.diferenciales{
    background: aqua;
}

h2 { text-align: center;   }  
.items{
font-style: italic;
}
ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}
.imagenDiferenciales{
    width: 50%;
    padding: 30px;
}


